
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  .text{
    font-size: 30px;
    font-weight: 700;
  }
  .icon{
    margin-top: 6px;
    height: 23px;
    width: 23px;
    margin-right: 5px;

  }

}

