.app {
  width: 1200px;

  min-height: 100vh;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  padding: 100px 20px 20px;
  .main{
    display: flex;
    align-items: center;
    justify-content: space-between;
  .future{
    overflow-y: scroll;
    height: 390px;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar, ::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #1E90FF;
      border: 1px solid #e1e3eb;
      border-radius: 10px;
    }

    &::-webkit-scrollbar, ::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
  }
  .grafic{
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}

