.world_forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .popular_forecast {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}