.search{
  display: flex;
  align-items: center;
  justify-content: center;

  .input{

    border-radius: 12px;
    border: none;
    text-align: left;
    padding: 12px 70px 12px 20px;
    outline: none;
    &::placeholder{
      color: #c0c0c0;
    }
  }
  .icon{
    cursor: pointer;
    position: relative;
    right: 30px;
    height: 15px;
    width: 15px;
  }

}